html {
    font-size: 80%;
}

body {
    margin: 0;
    padding: 0;
}

.container{
    display:grid;
}

.logo {
    display: block;
    margin: auto;
}

.top-section{
    background: #144a46;
}

.bottom-section{
    background: #144a46;
    margin-top: .9em;
}

.title {
    font-family: 'Agency FB';
    font-style: bold;
    font-size: 4em;
    color: #394c34;
    text-align: center;
}

.subtitle {
    font-family: 'Agency FB';
    font-size: 2.5em;
    color: #394c34;
    text-align: center;
}

.votes {
    font-family: 'Agency FB';
    font-size: 2.5em;
    color: #276863;
    text-align: center;
}

.button {
    font-family: 'Agency FB';
    font-size: 2em;
    color: #ffffff;
    background-color: #276863;
    border-radius: .3em;
    padding: .2em 1em .2em 1em;
    text-decoration: none;
    margin-left: 27.3em;
}

.btn-rigth {
    position: relative;
    right: 3em;
    bottom: 1.1em;
}

.btn-left {
    position: relative;
    left: 4em;
}

.img {
    width: 98%;
    background-size: auto;
    margin-left: 1em;
}


.mt-3 {margin-top: 3em;}
.mt-2 {margin-top: 2em;}
.mb-1 {margin-bottom: 1em;}
.mb-2 {margin-bottom: 2em;}
.ml-4 {margin-left: .4em;}



/*MEDIA QUERIES*/
/*laptop*/
@media (max-width: 1300px) {

    .button{
        font-size: 2.5em;
        margin-left: 2em;
        margin-right: 6em;
    }

    .btn-left{
        left: 10em;
        bottom: 1em;
        top: .5em;
    }

    .btn-rigth{
        left: 9em;
        bottom: 1em;
        top: .5em;
    }

    .bottom-section{
        margin-top: 6em;
    }

}

/*MEDIA QUERIES*/
/*tablet*/
@media (max-width: 1040px) {

    .img{
        width: 95%;
        margin-left: 2em;
    }

    .title{
        font-size: 5em;
    }

    .subtitle{
        font-size: 3em;
    }

    .votes{
        font-size: 3em;
    }

    .button{
        font-size: 2.5em;
        margin-left: 2em;
        margin-right: 6em;
    }

    .btn-rigth{
        left: 4em;
    }

    .btn-left{
        bottom: 1em;
        right: 2em;
    }
}

/*MEDIA QUERIES*/
@media (max-width: 780px) {

    .inner-grid {
        width: 90%;
        gap: 1em;
        text-align: center;
        margin-left: 2em;
    }

    .inner-col{
        grid-auto-flow: row;  
    }

    .title{
        font-size: 4em;
        margin-left: .5em;
    }

    .subtitle{
        margin-left: .7em;
    }

    .img{
        width: 90%;
    }

    .button{
        font-size: 2em;
        margin-right: 4em;
    }

    .btn-rigth{
        bottom: 3em;
        right: 2em;
        left: 1.5em;
    }

    .btn-left{
        bottom: 10em;
        right: 15em;
        left: 6em;
    }
    
    .bottom-section{
        margin-top: 4em;
    }

}

/*MEDIA QUERIES*/
@media(max-width: 380px){

    .inner-grid{
        margin: .5em;
    }

    .logo{
        margin-left: 5.5em;
    }

    .img{
        width: 96%;
        margin-right: 4em;
        margin-left: 1.4em;
    }

    .title{
        font-size: 2em;
        margin-left: 1em;
    }

    .votes{
        font-size: 2em;
        margin-left: 1em;
    }

    .subtitle{
        font-size: 1.5em;
        margin-left: 1em;
    }

    .button{
        font-size: 1.3em;
        margin-left: 2em;
    }

    .btn-rigth{
        right: 5em;
        left: .1em;
    }

    .btn-left{
        right: 2em;
        top: .1em;
        left: 5em;
    }

}




