html {
    font-size: 100%;
    

}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
   

}

.container {
    display: grid;
}

.top-section {
    width: 100%;
    height: 100vh;
    background: url(/imgs/face_pano_2.0.jpg) no-repeat;
    background-size: 100% 40%;
    padding-bottom: 6em;

}

.top-title {
    font-family: 'Book Antiqua',
        serif;
    color: white;
    font-size: 5.8em;
    position: relative;

    left: 13em;
}

.top-p {
    font-family: 'Book Antiqua',
        serif;
    color: white;
    font-size: 2em;
    position: relative;
    text-align: right;
    right: 2.5em;
    bottom: 3em;
}

.logo {
    padding: 4em 0 0 5em;

}

.inner-grid {
    width: 90%;
    position: relative;
    bottom: 30em;
    left: 4.5em;

}

.inner-col {
    display: grid;
    grid-auto-flow: column;
    gap: 4em;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
  
    border-radius: 5px;
  margin: 2em;
    padding: 1em;
}

.card:hover {
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
}


.media {
    display: flex;
    align-items: flex-start;

}



.image {

    width: 60%;
    height: 90%;
    border-radius: 5px;


}

.image-right {

    width: 60%;
    height: 90%;
    position: relative;
    left: 42em;
    border-radius: 5px;
    top: 0em;

}

.inner-title {
    font-family: 'Book Antiqua',
        serif;
    font-size: 3em;
    color: #09312e;
    position: relative;
    top: 2em;
    text-align: center;
    right: 5em;
}

.inner-p {
    font-family: 'Angecy FB',
        serif;
    font-size: 1.5em;
    position: relative;
    top: 3em;
    text-align: center;
    right: 10em;
    color: #5e827f;

}

.inner-content {
    flex: 1;
    padding: 1em;


    position: relative;
    top: -5em;
    right: 1em;

}

.inner-content-right {
    flex: 1;
    padding: 1em;
    position: relative;
    bottom: 5em;
    right: 50em;


}

.btn {
    text-align: center;
    background-color: #39303e;
    border: none;
    color: white;
    font-family: 'Agency FB', arial;
    font-size: 1.8em;
    border-radius: .3em;
    padding: .2em 1.5em .2em 1.5em;
    text-decoration: none;
    margin: 4em 0em 0em 7em;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
}

footer{
    background-color: #144a46;
    position: relative;
    bottom: 0;
    width: 100%;
    
}
.logo-footer{
   position: relative;
   left: 45%;
}