html {
    font-size: 100%;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
}

.inner-grid{
    width: 90%;
    margin :auto;
}

.inner-col{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.logo{
    margin-left: 2em;
    margin-top: 4em;
}

.background-img{
    width: 100%;
    background: url(../imgs/header.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 3em;
}

.top-menu{
    display: inline-flex;
}

.top-menu-items{
    display: inline-flex;
    list-style-type: none;
    position: absolute;
    right: 10em;
    font-family: "Book Anti antiqua", arial;
}

.top-menu-item{
    margin: 0 1em;
}

.top-menu-social{
    color: #ffffff;
    text-decoration: none;
    transition: color .5s ease;
}

.top-menu-social:hover{
    color: #284d1f;
}

.slogan{
    font-family: 'Book Antiqua', arial;
    font-size: 2.6em;
    text-align: right;
    color: white;
    margin-top: 9em;
}

.log-btn{
    display: grid;
    font-family: 'Book Antiqua', arial;
    font-weight: 700;
    font-size: 1.6em;
    text-align: right;
    text-decoration: none;
    color: white;  
}

.inner-title{
    font-family: 'Book Antiqua', arial;
    font-style: italic;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    color: #09312e;
    margin-top: 2em;
}

.inner-content{
    font-family: 'Agency FB', arial;
    font-size: 2em;
    text-align: center;
    color: #09312e;
}

.inner-img{
    margin-top: 2em;
    width: 50em;
    height: auto;
}

.inner-btn{
    font-family: 'Agency FB', arial;
    font-size: 1.6em;
    color: #ffffff;
    background: #09312e;
    border-radius: .3em;
    padding: .2em 1em .2em 1em;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
}

.mt-1{margin-top: 1em;}
.mt-3{margin-top: 3em;}
.mt-9{margin-top: 9em;}
.fr{float: right;}