html {
    font-size: 80%;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
}

.inner-grid {
    width: 90%;
    margin: auto;
}

.inner-col {
    display: grid;
    grid-auto-flow: column;
    gap: 2em
}

.logo {
    display: block;
    margin: auto;
}

.top-square {
    background: #144a46;
}

.bottom-square {
    background: #144a46;
    margin-top: 3em;
}

.title {
    font-family: 'Agency FB';
    font-style: normal;
    font-size: 4em;
    color: #144a46;
    text-align: center;
}

.subtitle {
    font-family: 'Agency FB';
    text-align: center;
    color: #394c34;
    font-style: bold;
    margin-top: .5em;
}

.button {
    font-family: 'Agency FB';
    font-size: 2em;
    color: #ffffff;
    background-color: #276863;
    border-radius: .3em;
    padding: .2em 1em .2em 1em;
    text-decoration: none;
}

.img-first {
    width: 50%;
    display: block;
    margin: auto;
}

.img {
    width: 100%;
    display: block;
    margin: auto;
}

.btn-rigth{
    position: relative;
    right: 3em;
}

.btn-left{
    position: relative;
    left: 4em;
}

.margin{margin: 2em}
.mb-1{margin-bottom: 1.5em;}
.mt-3{margin-top: 3em;}

.font-2 {font-size: 2.5em;}
.font-1 {font-size: 1.9em;}

.centered{display: flex;
    justify-content: center;}


/*MEDIA QUERIES*/
/*Small devices*/
@media (max-width: 600px) {

    .inner-grid {
        width: 90%;
        gap: 1em;
        text-align: center;
    }

    .inner-col{
        grid-auto-flow: row;  
    }

    .logo{
        margin-left: auto;
    }

    .img-first{
        width: 90%;
    }
    
    .img{
        width: 90%;
    }

    .title{
        font-size: 3em;
    }

    .subtitle{
        font-size: 1.5em;
    }

    .btn-rigth{
        right: 1em;
    }

    .btn-left{
        left: 1em;
    }
}